body.page_introduction {
  background: #E6E4CB none;
}
body.page_introduction .page_header {
  display: none;
}
body.page_introduction .main_page_area {
  margin: 0;
}
body.page_introduction .main_page_area > nav {
  display: none;
}
body.page_introduction .main_page_content {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}
body.page_introduction .main_page_content > header {
  padding: 160px 0 120px;
  background: #333 none;
  background: linear-gradient(to bottom,#666 0%,#555 20%,#333 80%,#222 100%);
  box-shadow: 0 4px 10px 0px rgba(0,0,0,0.8);
  margin-bottom: -60px;
}
body.page_introduction .main_page_content > header h1 {
  max-width: 880px;
  padding-left: 1em;
  font-size: 460%;
  line-height: 100%;
  font-family: 'Baloo', cursive;
  color: #EEE;
  margin: 0 auto;
}
body.page_introduction .main_page_content > header em {
  font-style: italic;
  display: block;
  font-size: 65%;
  line-height: 100%;
  font-family: 'Lato', sans-serif;
  color: #EEE;
  margin: 0 auto;
}
body.page_introduction .main_page_content > section {
  max-width: 680px;
  margin: 0 auto;
  background: #EEEDDD none;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 60px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
  border: 1px solid #CDC998;
}
body.page_introduction .main_page_content > section h2 {
  margin-top: 0.625em;
}