<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CSF">
      <sectionGroup name="Zpt">
        <section name="PluginConfigurationSection" type="CSF.Zpt.PluginConfigurationSection, CSF.Zpt" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <CSF>
    <Zpt>
      <PluginConfigurationSection DefaultHtmlDocumentProvider="CSF.Zpt.DocumentProviders.HtmlZptDocumentProvider" DefaultExpressionEvaluator="CSF.Zpt.ExpressionEvaluators.PathExpressions.PathExpressionEvaluator">
        <PluginAssemblies>
          <Assembly Name="CSF.Zpt.DocumentProviders.HtmlHAP" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.CSharpExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.LoadExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.NotExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.PathExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.StringExpressions" />
        </PluginAssemblies>
      </PluginConfigurationSection>
    </Zpt>
  </CSF>
</configuration>