bin/
obj/
logs/
TestResult.xml
TestResult.formatted.xml
packages/*/
*.VisualState.xml
*.userprefs
*.orig
*.directory
DEBIAN/
*.nupkg
.vs/

# Archives of binaries
CSF.Zpt-api-only.zip
CSF.Zpt-complete.zip
CSF.Zpt.MVC.zip
ZptBuilder.zip
