<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Add this configuration block to the configuration of the assembly which serves as
       the entry-point to your application.
  
  <system.diagnostics>    
    <trace autoflush="true">   
      <listeners>    
        <add name="SelfConfiguringLog4netTraceListener"
             type="CSF.Zpt.SelfConfiguringLog4netTraceListener, CSF.Zpt.Log4net" />
      </listeners>  
    </trace>
  </system.diagnostics>

  -->

</configuration>
