<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Add the following to the configuration of the assembly which serves as
       the entry-point to your application.  The <log4net> section you may of course customise
       as you please, according to your desired functionality.  Log messages from the ZPT-sharp
       API will come from a logger named "CSF.Zpt"

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <root>
      <level value="WARN" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="MyApplication.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5level] [%logger] %message%n" />
      </layout>
    </appender>
    <logger name="CSF.Zpt">
      <level value="DEBUG" />
    </logger>
  </log4net>
  
  <system.diagnostics>    
    <trace autoflush="true">   
      <listeners>    
        <add name="SelfConfiguringLog4netTraceListener"
             type="CSF.Zpt.SelfConfiguringLog4netTraceListener, CSF.Zpt.Log4net" />
      </listeners>  
    </trace>
  </system.diagnostics>

  -->

</configuration>
