body.page_download .download_action .download_link {
  display: inline-block;
  padding: 0.4em 1em;
  background: linear-gradient(to bottom,#7594F0 0%,#133086 100%);
  color: #FFF;
  border: 1px solid #0D2059;
  border-radius: 4px;
  min-width: 14em;
  text-align: center;
}
body.page_download .download_action .download_link:hover {
  background: linear-gradient(to bottom,#305EE8 0%,#0D2059 100%);
}
body.page_download ul.downloads {
  list-style: none;
  margin: 0 0 -40px -40px;
  padding: 0;
  overflow: auto;
  max-width: 720px;
}
body.page_download ul.downloads li {
  padding: 0;
  margin: 0 0 40px 40px;
  float: left;
  width: 290px;
  min-height: 215px;
  padding: 10px 9px;
  background: #F7F5D4 none;
  border: 1px solid #E3DD68;
  border-radius: 6px;
  cursor: default;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.4);
}
body.page_download ul.downloads .download_action {
  text-align: center;
}
body.page_download ul.downloads li h3 {
  margin-top: 0;
}
body.page_download ul.downloads li p {
  min-height: 135px;
}
@media (max-width: 699px) {
  body.page_download ul.downloads {
    margin: -1.1em 0 0;
  }
  body.page_download ul.downloads li {
    margin: 0;
    float: none;
    padding: 0;
    background: transparent none;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    min-height: 0;
    width: auto;
  }
  body.page_download ul.downloads .download_action {
    text-align: left;
  }
  body.page_download ul.downloads li h3 {
    margin-top: 1.6em;
  }
  body.page_download ul.downloads li p {
    min-height: 0;
  }
}
