.main_page_content .manpage_export h2 {
  border-bottom: 1px solid #CDC998;
  text-transform: lowercase;
}
.main_page_content .manpage_export h2::first-letter {
  text-transform: uppercase;
}
.main_page_content .manpage_export a {
  display: none;
}
.main_page_content .manpage_export b {
  font-weight: bold;
  font-style: italic;
}
.main_page_content .manpage_export i {
  padding-bottom: 2px;
  border-bottom: 1px solid #555;
  font-family: 'Droid Sans Mono', monospace;
}
.main_page_content .manpage_export dt:first-child,
.main_page_content .manpage_export dd:first-child {
  margin-top: 0;
}
