body.page_download .download_action .download_link {
  display: inline-block;
  padding: 0.4em 1em;
  background: linear-gradient(to bottom,#45484D 0%,#000000 100%);
  color: #FFF;
  border: 1px solid #333;
  border-radius: 4px;
  min-width: 14em;
  text-align: center;
}
body.page_download .download_action .download_link:hover {
  background: linear-gradient(to bottom,#61656b 0%,#242628 100%);
}
