.page_command_line_renderer .main_page_content h2 {
  border-bottom: 1px solid #CDC998;
  text-transform: lowercase;
}
.page_command_line_renderer .main_page_content h2::first-letter {
  text-transform: uppercase;
}
.page_command_line_renderer .main_page_content a {
  display: none;
}
.page_command_line_renderer .main_page_content b {
  font-weight: bold;
  font-style: italic;
}
.page_command_line_renderer .main_page_content dt:first-child {
  margin-top: 0;
}
