<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CSF">
      <sectionGroup name="Zpt">
          <section name="DocumentImplementationConfiguration"
                   type="CSF.Zpt.DocumentImplementationConfiguration, CSF.Zpt" />
      </sectionGroup>
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="../../../logs/Test.CSF.Zpt.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level [%file:%line]: %message%n" />
      </layout>
    </appender>
  </log4net>

  <CSF>
    <Zpt>
      <DocumentImplementationConfiguration>
        <Implementations>
          <Implementation TypeName="CSF.Zpt.Impl.HtmlZptDocumentProvider, CSF.Zpt.Impl.HtmlHAP"
                          IsDefaultHtml="True" />
          <Implementation TypeName="CSF.Zpt.Impl.XmlLinqZptDocumentProvider, CSF.Zpt.Impl.XmlLinq"
                          IsDefaultXml="True" />
          <Implementation TypeName="CSF.Zpt.Impl.LegacyXmlZptDocumentProvider, CSF.Zpt.Impl.XmlLegacy" />
        </Implementations>
      </DocumentImplementationConfiguration>
    </Zpt>
  </CSF>
</configuration>
