<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Profile two: Razor</title>
</head>
<body>
  <p>
    This profile is a simple page which includes no model, but includes a loop and usage of a partial view inside that loop.
  </p>
  <ol>
  @for(var iteration = 0; iteration < 100; iteration++)
  {
    <li>
      @Html.Partial("SharedRazorComponent", iteration)
    </li>
  }
  </ol>
</body>
</html>