<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Profile one: Razor</title>
</head>
<body>
  <p>
    This profile is a simple page which includes no model, but has a markup processing loop.  It uses no
    external inclusion of files (METAL in ZPT terms, Partial Views in Razor terms).
  </p>
  <ol>
  @for(var i = 0; i < 100; i++)
  {
    <li>Iteration number @(i + 1)</li>
  }
  </ol>
</body>
</html>